@model Cuota

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Clientes/Index.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cuota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numerocuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numerocuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazoMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoCuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoCuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoCuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoCuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solicitud.SolicitudId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CuotaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
